@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#dealer-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
}
#player-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
}

#hit {
  width: 100px;
  height: 50px;
  font-size: 20px;
}
#stay {
  width: 100px;
  height: 50px;
  font-size: 20px;
}