@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inconsolata:wght@300;400;600&display=swap');
@font-face {
  font-family: W95;
  src: url("./assets/W95FA.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'W95';
  font-weight: 400;
  background-color: #006300;
}

.choose-cards {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #006300;
}
.pick-back {
  z-index: 4;
  padding: 4px 3px;
  background-color: #c0c0c0;
  width: 580px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 200px;
}
.pick-back img {
  width: 90px;
  height: 125px;
}
.select {
  margin: 0 auto;
  padding: 5px;
  font-weight: bold;
  color: #fff;
  width: 570px;
  font-size: 24px;
  background-color: #02007f;
}
.pick-back form {
  margin: 0 auto;
  padding: 15px 0;
  margin-left: 8px;
}
.select-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 10px;
}
.select-btns button {
  width: 100px;
  padding: 6px 8px 5px 8px;
  font-family: 'W95';
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #c0c0c0;
  border-right: solid 2px #000;
  border-bottom: solid 2px #000;
  border-left: solid 2px #fff;
  border-top: 2px solid #fff;
}
.select-btns button:hover {
  border: solid 2px #000;
  box-shadow: inset -1px -1px 0px 0px #000;
}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.xButton {
  width: 25px;
  height: 23px;
  font-size: 18px;
  line-height: 23px;
  background-color: #c0c0c0;
  color: #000;
  margin-left: 542px;
  margin-top: -29px;
  margin-bottom: 10px;
  z-index: 5;
  border: solid 1px #000;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 0.5px #000;
  box-shadow: 0.5px 0.5px #000;
  cursor: pointer;
  box-shadow: inset 1px 1px 0px 0px #fff, inset -1px -1px 0px 0px #000;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}
/* input[type="radio"] {
  display: none;
} */

.player-sum {
  color: #9e3ae5;
  text-shadow: 0 0 50px 15px #9e3ae5;
}
.dealer-sum {
  color: #3a98e5;
  text-shadow: 0 0 50px 15px #3a98e5;
}

#dealer-cards {
  text-align: center;
}
#player-cards {
  text-align: center;
}
#dealer-cards img {
  height: 155px;
  width: 105px;
  margin: 1px;
  border-radius: 10px;
  border: 2px solid #000;
}
#player-cards img {
  height: 155px;
  width: 105px;
  margin: 1px;
  border-radius: 10px;
  border: 2px solid #000;
}

#hit {
  width: 100px;
  height: 50px;
  font-size: 20px;
}
#stay {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

.game-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: transparent;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
  z-index: 2;
}

.dealer {
  width: 100%;
}
.player {
  width: 100%;
}

.hit-or-stay {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}
.results-modal {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.hit-or-stay button {
  font-family: 'W95';
  margin: 10px;
}
.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #d73ae5;
  transform: translateY(-0.25em);
  border: 2px solid #d73ae5;
  transition: all ease-in-out 0.4s;
  color: #d73ae5;
}
.raise2:hover, .raise2:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #4143e7;
  transform: translateY(-0.25em);
  border: 2px solid #4143e7;
  transition: all ease-in-out 0.4s;
  color: #4143e7;
}

.refresh {
  padding: 5px 8px;
  font-family: 'W95';
  font-size: 40px;
  margin-top: 5%;
  display: inline-block;
}

#results {
  text-align: center;
  margin-top: 10%;
  color: #f3f3f3;
  font-size: 60px;
  font-family: 'W95';
  box-shadow: 0 0 50px 15px #eb3ed1;
}

.close-modal {
  padding: 5px 8px;
  font-size: 40px;
  display: inline-block;
  margin-top: -5%;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #f3f3f3;
  font-family: 'W95';
}

/***** -------- MEDIA QUERIES ------- *****/

 /* Desktop (default grid) */
 @media all and (min-width: 1024px) and (max-width: 1280px) { }

 /* Tablet (landscape */
 @media all and (min-width: 768px) and (max-width: 1024px) { }
 
 /* Tablet */
 @media all and (min-width: 480px) and (max-width: 768px) {
  #dealer-cards img {
    height: 135px;
    width: 100px;
    margin: 1px;
    border-radius: 10px;
    border: 2px solid #000;
  }
  #player-cards img {
    height: 135px;
    width: 100px;
    margin: 1px;
    border-radius: 10px;
    border: 2px solid #000;
  }
  .game-table {
    width: 100%;
    margin: 0 auto;
  }
 }

 /* Mobile */
 @media all and (max-width: 480px) {
  #dealer-cards img {
    height: 100px;
    width: 50px;
    margin: 1px;
    border-radius: 10px;
    border: 2px solid #000;
  }
  #player-cards img {
    height: 100px;
    width: 50px;
    margin: 1px;
    border-radius: 10px;
    border: 2px solid #000;
  }
 }
 
 /* Portrait */
 @media screen and (orientation:portrait) { /* Portrait styles here */ }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }

